<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "mixins" %>
    <%= stylesheet_link_tag "clickable_globe" %>
    <%= stylesheet_link_tag "countries" %>
    <%= stylesheet_link_tag "cities" %>
  </head>

  <header>
    <h1 id="app-title">World Data Correlator</h1>
    <section class="country-title-and-city">
      <div id="country-name-title">Select a Country</div>
      <article id="city-list"></article>
    </section>
  </header>

  <body>

    <section class="globe-and-data-container">
      <nav id="globe_nav_container">
      </nav>

      <section id="country_info_container">
        <article class="current-country-data"></article>
        <div id="bar-graph"></div>
      </section>
    </section>

    <%= javascript_tag do %>
    <% end %>

    <script src="//d3js.org/topojson.v1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <%= javascript_include_tag "plotly-latest.min.js" %>
    <%= javascript_include_tag "clickable_globe.js" %>
  </body>
</html>
